<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pmh.tdc"
    android:versionCode="16"
    android:versionName="1" >

    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name="com.pmh.tdc.TimerModel"
        android:allowBackup="true"
        android:icon="@drawable/ic_alarm_24dp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.pmh.tdc.timer.DemNguocActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="com.pmh.tdc.timer.Receive_Timer" />

        <activity
            android:name="com.pmh.tdc.Settings"
            android:windowSoftInputMode="adjustNothing" >
        </activity>
        

    </application>

</manifest>